{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1 class="font-weight-bold text-dark">ประเภททั้งหมด</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'categories:list' %}">จัดการข้อมูลประเภท</a></li>

                                <li class="active">ประเภททั้งหมด</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col">
            <form method="get">
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">ค้นหาประเภท</span>
                        <button type="submit" class="btn btn-primary float-right"><i class="fas fa-search"></i>&nbsp;
                            ค้นหา
                        </button>
                    </div>
                    <div class="card-body card-block">


                        <div class="form-row ">
                            <div class="input-group">
                                <div class="form-group col mb-0">
                                    {{ filter.form.title__contains | as_crispy_field }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    {% include 'itemabstracts/categories/list-table.html' %}

    {% include 'snippets/paginator.html' %}




{% endblock %}