{% extends 'base/base.html' %}
{% load static %}

{% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1 class="font-weight-bold text-dark">รายละเอียดผู้ใช้งาน</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'branches:branch_list' %}">ข้อมูลสาขาและผู้ใช้</a></li>
                                {% if branch_slug != 'all' %}
                                    <li>
                                        <a href="{% url 'branches:branch_detail' branch_slug %}">รายละเอียดสาขา{{ branch_title| truncatechars:10 }}</a>
                                    </li>
                                {% else %}
                                    <li>{{ branch_title | truncatechars:10 }}</li>
                                {% endif %}
                                <li>

                                    <a href="{% url 'branches:user_list' branch_slug %}">รายชื่อผู้ใช้งานสาขา{{ branch_title|  truncatechars:10 }}</a>
                                </li>
                                <li>
                                    <a href="{% url 'branches:user_detail' branch_slug object.username %}">{{ object.username| truncatechars:10 }}</a>
                                </li>
                                <li class="active">รายละเอียดผู้ใช้งาน</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h4 class="font-weight-bold ">รายละเอียดผู้ใช้งาน</h4>
                </div>
                <div class="col">

                    <button type="button" class="btn btn-danger btn-sm float-right ml-2" data-toggle="modal"
                            data-target="#deleteModal"><i
                            class="fas fa-trash-alt"></i>&nbsp;ลบข้อมูลผู้ใช้
                    </button>
                    <div class="modal" id="deleteModal" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <button class="close" data-dismiss="modal">×</button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="font-weight-bold text-dark">
                                        คุณต้องการลบข้อมูลผู้ใช้ {{ object.username }}
                                        หรือไม่ ?</h4>
                                </div>
                                <div class="modal-footer">
                                    <form action="{% url 'branches:user_delete' branch_slug object.username %}"
                                          method='POST'>
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash-alt"></i>&nbsp;ยืนยันการลบ
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <a href="{% url 'branches:user_update' branch_slug object.username %}">
                        <button type="button" class="btn btn-warning btn-sm float-right ml-2"><i class="fas fa-edit"></i>&nbsp;
                            แก้ไขข้อมูลผู้ใช้
                        </button>
                    </a>
                </div>
            </div>


        </div>
        <div class="card-body card-block">
            <div class="row">
                <div class="col m-3 text-center">

                    {% if object.image %}
                        <img class="img-responsive" width="70%" alt="" src="{{ object.image.url }}">
                    {% else %}
                        <img class="img-responsive" width="70%" alt="" src={% static "images/user_84308.png" %}>
                    {% endif %}


                </div>
                <div class="col ">
                    <div class="bg-light p-3 mt-3 mr-3">
                        <h4 class="font-weight-bold mb-2">ชื่อผู้ใช้งาน</h4>
                        <p class="mb-4 ml-4">{{ object.username }}</p>
                        <h4 class="font-weight-bold mb-2">ชื่อ - นามสกุล</h4>
                        <p class="mb-4 ml-4">
                            {% if object.first_name %} {{ object.first_name }} {% else %} ยังไม่ได้ระบุ {% endif %}
                            {% if object.last_name %} {{ object.last_name }} {% else %} ยังไม่ได้ระบุ {% endif %}
                        </p>

                        <h4 class="font-weight-bold mb-2">E-mail</h4>
                        <p class="mb-4 ml-4">
                            {% if object.email %} {{ object.email }} {% else %} ยังไม่ได้ระบุ {% endif %}
                        </p>

                        <h4 class="font-weight-bold mb-2">สาขา</h4>

                        <p class="mb-4 ml-4">
                            {% if object.branch.title %} {{ object.branch.title }} {% else %} ยังไม่ได้ระบุ {% endif %}
                        </p>

                        <h4 class="font-weight-bold mb-2">ประเภทผู้ใช้งาน</h4>
                        <p class="mb-4 ml-4">
                            {% if object.user_type == 'administrator' %} ผู้ดูแลระบบ
                            {% elif object.user_type == 'normal' %} ผู้ใช้งานทั่วไป
                            {% elif object.user_type == 'inv_manager' %} ผู้ดูแลจัดการอุปกรณ์สาขา
                            {% elif object.user_type == 'auditor' %} ผุ้ตรวจสอบอุปกรณ์
                            {% endif %}
                        </p>

                        <h4 class="font-weight-bold mb-2">ข้อมูลเพิ่มเติม</h4>
                        <p class="mb-4 ml-4">
                            {% if object.etc %} {{ object.etc }} {% else %} ยังไม่ได้ระบุ {% endif %}
                        </p>
                        <h4 class="font-weight-bold mb-2">เข้าสู่ระบบครั้งล่าสุดเมื่อ</h4>
                        <p class="mb-4 ml-4">
                            {% if object.last_login %} {{ object.last_login }} {% else %}
                                ยังไม่เคยเข้าสู่ระบบ {% endif %}
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}