{% load static %}
{% load crispy_forms_tags %}
<div class="card">

    <div class="card-header">

        <h3 class="card-header-title d-inline">{{ info.item_abstract.title }}ทั้งหมดในสาขา{{ info.currently_at.title }}</h3>




        <a href="{% url 'items:get_barcodes' branch_slug info.item_abstract.slug %}">
            <button type="button" class="btn btn-info btn-sm ml-2 float-right">
                <i class="fas fa-tools"></i>&nbsp;พิมพ์บาร์โค้ดในสาขานี้
            </button>
        </a>


        <a href="{% url 'items:get_barcodes_all' branch_slug info.item_abstract.slug %}">
            <button type="button" class="btn btn-primary btn-sm ml-2 float-right">
                <i class="fas fa-tools"></i>&nbsp;พิมพ์บาร์โค้ดทั้งหมด
            </button>
        </a>


    </div>


    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                <tr class="d-flex">
                    <th class="col-1">#</th>
                    <th class="col-2">รหัสอุปกรณ์</th>
                    {% if info.item_abstract.track_1by1 %}

                        <th class="col-2">หมายเลขติดตามอุปกรณ์</th>
                        <th class="col-2">จำนวน</th>
                        <th class="col-2">สถานะ</th>

                    {% else %}
                        <th class="col-2">ว่าง</th>
                        <th class="col-2">จองแล้ว</th>
                        <th class="col-2">อยู่ในกระบวนการขนย้าย</th>

                    {% endif %}
                    <th class="col-3">การจัดการ</th>
                </tr>
                </thead>
                <tbody>

                {% for object in object_list %}
                    <tr class="d-flex">
                        <th scope="row" class="col-1">{{ forloop.counter }}</th>
                        <td class="col-2">
                            {{ object.item_abstract.serial }}
                        </td>
                        {% if info.item_abstract.track_1by1 %}
                            <td class="col-2">{{ object.tracking_number }}</td>
                            <td class="col-2">
                                {% if object.quantity <= 0 %}
                                    <span class="text-danger">{{ object.quantity }}</span>
                                {% else %}
                                    <span class="text-primary">{{ object.quantity }}</span>
                                {% endif %}

                            </td>

                            <td class="col-2">

                                {% if object.status == 'available' %} <span class="text-success">ว่าง</span>
                                {% elif object.status == 'unavailable' %} <span class="text-danger">ไม่ว่าง</span>
                                {% elif object.status == 'reserved' %} <span class="text-warning">จองแล้ว</span>
                                {% elif object.status == 'requested_to_be_transfered' %}
                                    <span class="text-info">อยู่ในคำขอย้ายสาขา</span>
                                {% elif object.status == 'preparing_for_shipment' %}
                                    <span class="text-info">เตรียมย้ายสาขา</span>
                                {% elif object.status == 'shipping' %} <span class="text-info">กำลังขนย้าย</span>



                                {% endif %}
                            </td>


                        {% else %}
                            <td class="col-2">
                                {% if quantity.this_branch.available <= 0 %}
                                    <span class="text-danger">{{ quantity.this_branch.available }}</span>
                                {% else %}
                                    <span class="text-primary">{{ quantity.this_branch.available }}</span>
                                {% endif %}
                            </td>
                            <td class="col-2">
                                {% if quantity.this_branch.reserved <= 0 %}
                                    <span class="text-danger">{{ quantity.this_branch.reserved }}</span>
                                {% else %}
                                    <span class="text-primary">{{ quantity.this_branch.reserved }}</span>
                                {% endif %}
                            </td>
                            <td class="col-2">
                                {% if quantity.this_branch.shipping_process <= 0 %}
                                    <span class="text-danger">{{ quantity.this_branch.shipping_process }}</span>
                                {% else %}
                                    <span class="text-primary">{{ quantity.this_branch.shipping_process }}</span>
                                {% endif %}
                            </td>




                        {% endif %}
                        <td class="col-3">
                            {% if request.user.user_type == 'inv_manager' %}
                                {% if object.status == 'available' %}
                                    <button class="btn btn-warning btn-sm mt-2 "
                                            data-toggle="modal"
                                            data-backdrop="static"
                                            data-keyboard="false"
                                            data-target="#transferModal">
                                        <i class="fas fas fa-dolly-flatbed ml-1 mr-2"></i>
                                        ย้ายอุปกรณ์
                                    </button>
                                    <form action="{% url 'items:send_transfer_request' branch_slug info.item_abstract.slug %}"
                                          method="post">{% csrf_token %}
                                        <input type='hidden' name='item_id' value='{{ object.id }}'/>

                                        <div class="modal" id="transferModal" aria-hidden="true"
                                             style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">

                                                        <button class="close" data-dismiss="modal">×</button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <h4 class="font-weight-bold text-dark">
                                                            กรุณาเลือกสาขาปลายทางที่ต้องการย้ายอุปกรณ์ไป
                                                        </h4>
                                                        <div class="ml-4 mt-4">
                                                            {{ transfer_form | crispy }}
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">


                                                        <button type="submit" class="btn btn-success btn-sm">
                                                            <i class="fas fa-check-double"></i>&nbsp;ยืนยัน
                                                        </button>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



