{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1 class="font-weight-bold text-dark">เปลี่ยนรหัสผ่านสำเร็จ</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'profile:home' %}">ข้อมูลส่วนตัว</a></li>
                                <li><a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a></li>
                                <li class="active">เปลี่ยนรหัสผ่านสำเร็จ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}




    <div class="card">

        <div class="card-header">
            <h3 class="card-header-title d-inline">เปลี่ยนรหัสผ่านสำเร็จ</h3>
            <a href="{% url 'profile:home' %}">
                <button type="button" class="btn btn-primary float-right "><i class="fas fa-undo"></i>&nbsp;
                    กลับไปหน้าข้อมูลส่วนตัว
                </button>
            </a>

        </div>


    </div>



{% endblock %}