


{% load bootstrap4 %}

{% load crispy_forms_tags %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% include 'base/css.html' %}
{% block content %}

    <body class="bg-facebook small-device">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">

                <div class="login-form">
                    <div class="my-3 text-center">
                        <a href="{% url 'home' %}">
                            <h3><i class="fas fa-home">หน้าแรก</i></h3>

                        </a>
                    </div>
                    <div>
                        <form action="" method="post">{% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" class="btn btn-primary btn-flat m-b-15">รีเซ็ทรหัสผ่าน</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'base/js.html' %}


    </body>
{% endblock %}