{% load static %}

<div class="card">

    <div class="card-header">
        <h3 class="card-header-title d-inline">คลังสาขาทั้งหมด</h3>
    </div>


    <div class="card-body card-block">
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                <tr class="d-flex">
                    <th class="col-1">#</th>
                    <th class="col-2">รูปภาพ</th>
                    <th class="col-4">ชื่อ</th>
                    <th class="col-3">รหัสสาขา</th>
                    <th class="col-2">การจัดการ</th>
                </tr>
                </thead>
                <tbody>

                {% for object in object_list %}
                    <tr class="d-flex">
                        <th scope="row" class="col-1">{{ forloop.counter }}</th>
                        <td class="col-2">
                            {% if object.image %}
                                <img class="img-responsive" height="80px" width="80px" alt=""
                                     src="{{ object.image.url }}">
                            {% else %}
                                <img class="img-responsive" height="80px" width="80px" alt=""
                                     src={% static "images/Location.png" %}>
                            {% endif %}
                        </td>
                        <td class="col-4">
                            <a href="{% url 'items:serial_list' object.slug %}">{{ object.title }}</a>
                        </td>
                        <td class="col-3">{{ object.alias }}</td>

                        <td class="col-2">

                            <a href="{% url 'items:serial_list' object.slug %}">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fas fa-warehouse"></i>&nbsp;จัดการคลัง
                                </button>
                            </a>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



